
<% @books.each do |book| %>
<div>
  <p>Book名：<%=book.book_name %></p>
  <p>説明：<%= book.caption %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
   <% if book.user == current_user %>
  <p><%= link_to"削除",book_path(book.id),method: :delete %></p>
  <% end %>
<% end %>